@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  
  scrollbar-color: #232625 #BFBFB8; /* Firefox */
  scrollbar-width: thin; /* Firefox */

  /* Webkit (Chrome, Safari, etc.) */
  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
    border: 3px solid transparent;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
}
